
/** General **/

*{
  margin:0;
  padding:0;
}
ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}

/** Content **/

.content{
  background-color: #332e31;
  height: 630px;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-family: kufi;
}

.content .content-content{
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 20px;
  width: 70%;
  font-size: 23px;
}
.content select{
  font-family: kufi;
  font-size: 18px;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 2px;
  width: 150px;
  padding-right: 5px;
  cursor: pointer;
  outline: none;

  /* arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('../images/arrow.svg');
  background-position: left 10px top 50%;
  background-repeat: no-repeat;
  background-size: 13px;
}
select option{
  background: #fff;
  -moz-background: #fff;
  -webkit-background: #fff;
}
.content .content-content table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid #fff;
  border-collapse: collapse;
}
th{
  color:#e09600;
}
td, th{
  height: 60px;
  width: 170px;
  border: 1px solid #fff;
}

.orders-pages{
  margin-top: 16px;
}
.orders-pages button{
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  width: 35px;
  font-family: segoe;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}
.orders-pages .specialbtn{
  width: 60px;
}
