
/** GENENRAL **/

*{
  margin:0;
  padding:0;
}
ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}


/** CONTENT **/

.content{
  background-color: #332e31;
  height: 690px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-family: kufi;
}
.content .content-content{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  font-size: 23px;
}

/** CONTENT: FILTER **/

.content .filter{
  margin-bottom: 20px;
}

.content .filter select{
font-family: kufi;
font-size: 18px;
background-color: #fff;
border: 4px solid #fff;
border-radius: 2px;
width: 220px;
padding-right: 5px;
cursor: pointer;
outline: none;

/* arrow */
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;

background-image: url('../images/arrow.svg');
background-position: left 10px top 50%;
background-repeat: no-repeat;
background-size: 13px;
}
.filter select option{
background: #fff;
-moz-background: #fff;
-webkit-background: #fff;
}
.filter button{
border: 1px solid #e09600;
border-radius: 5px;
padding: 5px;
height: 42px;
width: 90px;
color: #fff;
background-color: #e09600;
cursor: pointer;
margin-right: 5px;
font-family: kufi;
font-size: 16px;
font-weight: bold;
outline: none;
}
.filter #allview{
border: 1px solid green;
background-color: green;
margin-right: 0px;
}

/** CONTENT: ADD PRODUCT**/

.content select{
  font-family: kufi;
  font-size: 18px;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 2px;
  width: 150px;
  padding-right: 5px;
  cursor: pointer;
  outline: none;

  /* arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('../images/arrow.svg');
  background-position: left 10px top 50%;
  background-repeat: no-repeat;
  background-size: 13px;
}
select option{
  background: #fff;
  -moz-background: #fff;
  -webkit-background: #fff;
}
.content input{
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px;
  padding-right: 15px;
  width: 160px;
  font-family: kufi;
  font-size: 18px;
  outline: none;
}
.content #price{
  width: 100px;
}
.content .add-product button{
  border: 1px solid #e09600;
  border-radius: 5px;
  padding: 5px;
  height: 47px;
  width: 120px;
  color: #fff;
  background-color: #e09600;
  cursor: pointer;
  margin-right: 3px;
  font-family: kufi;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}
.content select{
  font-family: kufi;
  font-size: 18px;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 2px;
  width: 220px;
  padding-right: 5px;
  cursor: pointer;
  outline: none;

  /* arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('../images/arrow.svg');
  background-position: left 10px top 50%;
  background-repeat: no-repeat;
  background-size: 13px;
}
select option{
  background: #fff;
  -moz-background: #fff;
  -webkit-background: #fff;
}

/** CONTENT TABLE**/
.content .content-content table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid #fff;
  border-collapse: collapse;
}
table img{
  height: 23px;
  cursor: pointer;
  position: relative;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
th{
  color:#e09600;
}
td, th{
  height: 60px;
  width: 100px;
  border: 1px solid #fff;
}
.prod-name{
  width: 300px;
}
.products-pages{
  margin-top: 16px;
}
.products-pages button{
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  width: 35px;
  font-family: segoe;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}
.products-pages .specialbtn{
  width: 60px;
}
